src/XMLSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XMLSchema2" xmlns:tns="http://www.example.org/XMLSchema2" elementFormDefault="qualified">
	<element name="student">
		<complexType>
			<sequence>
				<element name="name" type="string"></element>
				<element name="age" type="int"></element>
			</sequence>
		</complexType>
	</element>
</schema>